[submodule "docs/leetcode"]
	path = docs/leetcode
	url = git@github.com:malinkang/Leetcode.git
[submodule "docs/android"]
	path = docs/android
	url = git@github.com:malinkang/AndroidNote.git
[submodule "docs/python"]
	path = docs/python
	url = git@github.com:malinkang/PythonNote.git
[submodule "docs/java"]
	path = docs/java
	url = git@github.com:malinkang/JavaNote.git
[submodule "docs/kotlin"]
	path = docs/kotlin
	url = git@github.com:malinkang/KotlinNote.git
[submodule "docs/javascript"]
	path = docs/javascript
	url = git@github.com:malinkang/JavaScriptNote.git
